

<% if  current_page?('/') %>
<hr>
<div style='float:left; width:800px; margin-top:10px; margin-bottom:100px;'>
<%= image_tag 'visa.png' %> <%= image_tag 'mastercard.png' %>
</div>
<%end%>


<script>

$(function() {



    cards_div = '<div> <%= image_tag "visa.png" %> <%= image_tag "mastercard.png" %> </div>'


    $(cards_div).insertAfter('#credit-card-image')   
    $('#credit-card-image').remove()

});

</script>